services:
  volcanion-auth-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: volcanion-auth-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__WriteDatabase=Host=pg-primary;Port=5432;Database=volcanion_auth;Username=postgres;Password=postgres;
      - ConnectionStrings__ReadDatabase=Host=pg-replica1;Port=5433;Database=volcanion_auth;Username=postgres;Password=postgres;
      - ConnectionStrings__Redis=volcanion-redis:6379,password=redis_password
      - Jwt__SecretKey=YourVerySecretKeyThatIsAtLeast32CharactersLongForHS256Algorithm
      - Jwt__Issuer=VolcanionAuth
      - Jwt__Audience=VolcanionAuthAPI
    networks: [pgnet]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  pgnet:
    external: true
